* {
  margin:0;
  box-sizing: border-box;
}

h1, h3{
  text-align: center;
  text-transform: uppercase;
}
.container {
  width: 95%;
  /*min-width: 1200px;*/
  margin: 0 auto;
  border: 1px solid #77787C;
  background: #fff;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
[class*="col-"] {
    min-height: 7px;
    padding: 7px;
    float: left;
    border: 7px solid #fff;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333%
}
.col-11 {
  width: 91.63%
}
.col-12 {
  width: 100%;
}
.row > div {
  display: inline-block;
   }
   /*PRIMERO*/
#primero > .row > [class*="col-"]{
  border-color: #fff;
  background: #77787C;
  height: 120px
}
/*SEGUNDO*/

#segundo > .row > [class="col-4"]{
  height: 120px;
  background: #DCDDDF;
}
#segundo > .row > [class="col-12"]{
  height: 240px;
  background: #77787C;
}
/*TERCERO */
#tercero > .third-1row [class*="col-"]{
  height: 120px;
  background: #77787C;

}
#tercero > .third-2row [class="col-12"]{
  height: 120px;
}
#tercero > .third-3row > [class*="col-4"]{
  height: 120px;
  background: #DCDDDF;
  float: right;
}
