* {
  margin:0;
  box-sizing: border-box;
}

h1, h3{
  text-align: center;
  text-transform: uppercase;
}
.box-container {
  width: 80%;
  margin: 10px auto;

}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 7px;
  border: 3px solid gray;
}

.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
[class*="col-"] {
    min-height: 7px;
    float: left;
    padding: 7px;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333%
}
.col-11 {
  width: 91.63%
}
.col-12 {
  width: 100%;
}
.row > div {
  display: inline-block;
}
.square {
  width: 100%;
  height: 100%;
}
.gray {
  background: #77787C;
}
.light-gray {
  background: #DCDDDF;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
   /*PRIMERO*/
#primero > .row > [class*="col-"] {
  height: 120px;
}
/*SEGUNDO*/

#segundo > .row > [class="col-4"] {
  height: 120px;
}
#segundo > .row > [class="col-12"] {
  height: 240px;
}
/*TERCERO */
#tercero > .row [class*="col-"] {
  height: 120px;
}

/*CUARTO*/
#cuarta > .fourth-1row [class*="col-"] {
  height: 120px;
}
#cuarta > .fourth-2row [class*="col-"] {
  height: 240px;
}
/* QUINTA */
#quinta > .row > [class*="col-4"] {
  height: 120px;
}
/* SEXTA */
#sexta > .row > [class*="col-12"] {
  height: 120px;
}
#sexta > .row > [class*="col-8"] {
  height: 240px;
}
#sexta > .row > [class*="col-4"] {
  height: 120px;
}
/* SEPTIMA */
#septima .seventh-1row [class*="col-"] {
  height: 120px;
}
#septima .seventh-2row [class*="col-"] {
  height: 240px;
}
/* OCTAVA */
#octava .eighth-1row [class="col-4"] {
  height: 240px;
}
#octava .eighth-2row [class*="col-"] {
  height: 120px;
}
